.row{
    margin-left: 0;
    margin-right: 0;
}
body {
   background: url(www.jpg) fixed;
   background-size: cover;
   background-position: center;
    color: #CD5C5C;
    margin-left: 0;
    margin-right: 0;
}
label{
     color: #2C7AC1;
   font-size: 20px;
    font-weight: bolder;
}