body {
   background: url(www.jpg) fixed;
   background-size: cover;
   background-position: center;
  
}
.row{
    margin-left: 0;
    margin-right: 0;
}
p{
     color: #2C7AC1;
   font-size: 30px;
    font-weight: bolder;
}
