body {
    background-color: #111111
}
h1 {
    color: #E2E80F;
    text-align: center;
    font-size: 80px;
    
}
p {
    color: #eeeeee;
    font-size: 30;
    margin: 15;
}
.credits{
    text-decoration: underline;
    color:blue;
    cursor: pointer;   
}
#film-description {
    font-size: 15px;
    font-style: italic;
}
 